
  <!--/ footer Star /-->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        
       
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">India Office</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">Building No. 24 (3rd floor), Okhla Industrial Estate, <br>Phase-III, New Delhi–110020, India</p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a"><i class="fa fa-envelope"></i></span> <a href="mailto:communications@wishfoundationindia.org">communications@wishfoundationindia.org</a></li>
                <li class="color-a">
                  <span class="color-text-a"><i class="fa fa-phone"></i></span> 011+91-11-431 51600-19</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-8">
      <h3 class="w-title-a text-brand">State Office</h3>
<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
  <label for="tab1">Rajasthan</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
  <label for="tab2">Gorakhpur</label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
  <label for="tab3">Lucknow</label>
    <!-- Tab 4 -->
  <input type="radio" name="tabset" id="tab4" aria-controls="dunkles2">
  <label for="tab4">Bhopal</label>
  
  <div class="tab-panels">
    <section id="marzen" class="tab-panel">
    
      <p>301-302, 3rd floor Kailash Tower, Tonk Road, Jaipur- 302033<br>Phone-141-4116435</p>
    
  </section>
    <section id="rauchbier" class="tab-panel">
  
      <p>House No. 727, MIG-1, Phase-1, Raptinagar, Gorakhpur, Uttar Pradesh.- 273003
<br>6388095924
</p>
     
    </section>
    <section id="dunkles" class="tab-panel">
     
      <p>2/60 Vijay Khand Gomtinagar, Lucknow, 226010
</p>
    
    </section>
     <section id="dunkles2" class="tab-panel">
  
      <p>Ground floor, 575 (1st and 2nd floor) E-7, Arera Colony, Bhopal , Madhya Pradesh – 462016
<br>
Phone- 0755- 4944466</p>
    
    </section>
  </div>
  
</div>
        </div>
       
        
      </div>
    </div>
  </section>
  <footer>
    <div style="background:#f47435; padding:10px 10px 5px;"><h5 style="color:#fff;">Wadhwani Initiative for Sustainable Healthcare (WISH) is the flagship program of Lords Education & Health Society (LEHS) in India</h5></div>
   <!-- <div class="container">
      <div class="row">
        <div class="col-md-12">       
          <div class="copyright-footer">
            <p class="copyright">
             © 2014-2019 | WISH Foundation - Wadhwani Initiative for Sustainable Healthcare
            </p>
          </div>
        </div>
      </div>
    </div>-->
  </footer>
  <!--/ Footer End /-->

  <div class="sticky-container">
    <ul class="sticky">
      <li>
        <img width="32" height="32" title="" alt="" src="img/fb1.png" />
        <p>Facebook</p>
      </li>
      <li>
        <img width="32" height="32" title="" alt="" src="img/tw1.png" />
        <p>Twitter</p>
      </li>
   
      <li>
        <img width="32" height="32" title="" alt="" src="img/li1.png" />
        <p>Linkedin</p>
      </li>
    
       <li>
        <img width="32" height="32" title="" alt="" src="img/youtube.png" />
        <p>Youtube</p>
      </li>
       <li>
        <img width="32" height="32" title="" alt="" src="img/insta.png" />
        <p>Instagram</p>
      </li>

    </ul>
  </div>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>