
<!-- Header Area Starts-->
  {% include directory ~ '/templates/includes/header.html.twig' %}
<!-- Header Area Ends-->

      <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix"> 

          {{ page.breadcrumb }}
              {{ page.content }}
      </div>
      
 <!-- Footer Area Starts-->
    {% include directory ~ '/templates/includes/footer.html.twig' %}
 <!-- Footer Area Ends-->
